.nav-bar {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}

.bg {
  background-color: rgba(255, 144, 14, 0.11);
}

.nav-links {
  display: flex;

}

.brand {
  font-weight: bold;
  font-size: 45px;
}

.nav-item {
  margin-right: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 500px;

}

.text-color {
  color: #424242;
}

/* banner related styles */
.banner-content {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}

.banner-title {
  font-size: 64px;
  font-weight: bold;
  color: #131313;
}

.para {
  color: #727272;
  font-size: 1rem;
}

.btn {
  background-color: #FF900E;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5rem;
  width: 11.25rem;
  height: 4rem;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px 25px;
  margin-bottom: 45px;
}

.banner-img {
  width: 100%;
}

/* main styles team and features */
main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}

.teams {
  align-items: center;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.features {
  margin-left: 110px;
  width: 537px;
}

.list {
  color: #727272;
  font-size: 3rem;
}

.ofOur {
  color: black;
  font-size: 3rem;
}

.list2 {
  color: #FF900E;
  font-size: 3rem;
  font-weight: bold;
}

/* some facts */
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact {
  border: 1px solid #FF900E;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  padding-top: 40px;
}

h4 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-description {
  margin-left: 100px;
}

.feature-title {
  font-size: 2.8rem;
  font-weight: 600;
}

.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}

.gray {
  filter: grayscale(100%);
  /* Converts the image to full grayscale */
}

/* features styles  */
.feature-card {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}

.feature-title , .feature-card{
  font-size: 20px;
  font-weight: 600;
  
  
}
.feature-header{
  font-size: 3rem;
  font-weight: bold;
  border-left: 5px solid #FF900E;
  padding-left: 30px;
}
.feature{
  display: flex;
  gap: 130px;
}
#Years{
  font-size: 4rem;
  font-weight: 700;

}
#btn-year{
  height: 200px;
  width: 342px;
  margin-left: -100px;
  margin-top: -100px;
}
.feature-img{
  width: 100%;
}
/* footer styles */
.footer-box{
  border: 1px solid none;
  background-color: #FFF4E7;
  border-radius: 8px;
   width: 1440px;
   height: 100px;
   text-align: center;
   margin-left: 240px;
   margin-top: 130px;
   margin-bottom: 216px;
  
}
#footer-p{
  text-align: center;
  padding-top: 38px;
  padding-bottom: 39px;
}
/* responsive media */
@media screen and (max-width: 576px) {

  .nav-bar,
  .nav-links,
  .teams, 
  .feature{
    flex-direction: column;
  }

  .team-img,
  .fact-container,
  .sponsor-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .fact-container,
  .sponsor-img {
    justify-items: center;
    gap: 25px;
  }

  .features {
    margin-left: 20px;
  }
  #btn-year{
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

/* medium size */
@media screen and (min-width:576px) and (max-width:992px) {

  .teams , .feature {
    flex-direction: column;
  }
 
  .features {
    margin: 50px auto;
  }
}